<section class="recipe-detail">
	<div class="container">
		<h1 class="recipe-detail__title">Recipe name</h1>

		<mat-tab-group class="recipe-detail__tabs">
			<mat-tab label="Overview" class="tab recipe-detail__tab-item">
				<div class="tab__content">
					<mat-card>
						<div class="tab__aside">
							<img mat-card-image [src]="domainUrl + (recipe$ | async)?.imagePath" [alt]="(recipe$ | async)?.name + ' image'">
						</div>

						<div class="tab__info">
							<mat-card-title>{{ (recipe$ | async)?.name }}</mat-card-title>

							<mat-card-subtitle>Rating ({{ (recipe$ | async)?.rating }})</mat-card-subtitle>

							<mat-card-actions *ngIf="isLogin">
								<button type="button" mat-raised-button color="accent" (click)="onAddRecipeToShoppingList()">To shopping list</button>
								<button type="button" mat-raised-button color="primary" (click)="openAddRecipeRatingDialog()">Add rating</button>
								<button type="button" mat-raised-button (click)="openAddRecipeCommentDialog()">Add comment</button>
							</mat-card-actions>
						</div>

						<div class="tab__ingredients" *ngIf="(recipe$ | async)?.ingredients.length">
							<h4 class="tab__title">Ingredients</h4>

							<mat-chip-list>
								<mat-chip color="primary" selected *ngFor="let item of (recipe$ | async)?.ingredients">{{ item.name }} ({{ item.count }})</mat-chip>
							</mat-chip-list>
						</div>

						<div class="tab__desc">
							<h4 class="tab__title">
								Description
							</h4>

							<div class="tab__content">
								<p>{{ (recipe$ | async)?.description }}</p>
							</div>
						</div>


						<div class="tab__process">
							<h4 class="tab__title">Cooke process</h4>

							<div class="tab__content">{{ (recipe$ | async)?.process }}</div>
						</div>
					</mat-card>
				</div>
			</mat-tab>

			<mat-tab [label]="'Comments (' + (recipe$ | async)?.comments.length + ')'" class="tab shopping-list__tab-item">
				<h4 class="tab__title">Comments</h4>

				<div class="tab__content">
					<app-recipe-comments *ngFor="let item of (recipe$ | async)?.comments" [comment]="item"></app-recipe-comments>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</section>
